/**************** Style rules for everything*****************/
nav a:link, a:visited{
    display: block;
    color: tan;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: center;

}
body{
    margin: 0;
    background-color: tan ;
}
header{
    background-color: whitesmoke;
    text-align: center;
    color: azure;
    padding: .01em;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif" ;
}
h1{
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif" ; 
    color: #643c0d ;
    font-size: 45px;
}
p{
    color: 562802;
    font-size: 15px;
    font-weight: normal;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}
a,a:link{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color:#390809;  
}
footer{
    font-weight: bolder;
    background-color: whitesmoke;
    margin-top: 2%
}

/**************** Style rules for mobile viewport*****************/
@media screen and (max-width:800px), print{
    #container{
        width:100%;
        background-color: beige;
        margin:2em auto;/*center container in browser*/
    }
    .grid{
        display: grid;
        grid-template-columns: auto auto;
    }
    nav{
        padding: 0;
        margin: 0;
        width: 100%;
        background-color: black;
        text-align: center;
        display: flex; /* Use flexbox */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
    }
    nav ul{
        margin: 0;
        padding-left: 10px;
        list-style: none;
        text-align: center;
        background-color: black;
        font-weight: lighter;
        
    }
    nav li{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    section{
        margin: 0 auto;
        overflow: auto;
        background-color: beige;
    }
    figure{
        text-align: center;
    }
    img{
        width: 50%;
    }
    h1{
        display: flex; /* Use flexbox */
        justify-content: center; /* Center items horizontally */
    }
    nav a:focus{
        background-color:white;
        color:black;
        font-weight:bold;
    }

}


/* Media Query for Tablet Viewport */
@media screen and (min-width:800px), print{
    #container{
        width:100%;
        background-color: beige;
        margin:2em auto;/*center container in browser*/
    }
    .grid{
        display: grid;
        grid-template-columns: auto auto;
    }
    nav{
        padding: 0;
        margin: 0;
        width: 100%;
        background-color: black;
        text-align: center;
        display: flex; /* Use flexbox */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
    }
    nav ul{
        margin: 0;
        padding-left: 10px;
        list-style: none;
        text-align: center;
        background-color: black;
        font-weight: lighter;
        
    }
    nav li{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    body{
        margin: 0;
        background-color: tan ;
    }
    header{
        background-color: whitesmoke;
        text-align: center;
        color: azure;
        padding: .01em;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif" ;
    }
    nav a:focus{
        background-color:white;
        color:black;
        font-weight:bold;
    }
    

    img{
        display: block;
        margin: 0 auto; /* Center the image horizontally */
        width: 50%;
        
    }
}



/* Media Query for Desktop Viewport */

@media screen and (min-width: 1024px), print{

    #container{
        width: 1000px;
        background-color: beige;
        margin:2em auto;/*center container in browser*/
    }
    body{
        margin: 0;
        background-color: tan ;
    }
    header{
        background-color: whitesmoke;
        text-align: center;
        color: azure;
        padding: .01em;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif" ;
    }
    nav{
        margin: 0;
        width: 100%;
        background-color: black;
        padding-bottom: 0;
    }
    nav ul{
        margin: 0 auto;
        list-style: none;
        text-align: center;
        background-color: black;
        font-weight: lighter;
    }
    nav li{
        display: inline-block;
        margin: 0 auto;
        text-align: center;
    }
    nav a:link, a:visited{
        display: block;
        color: tan;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 12pt;
        text-align: center;

    }
    nav a:hover{
        background-color:white;
        color:black;
        font-weight:bold;
    }
    section{
        margin: 0 auto;
        overflow: auto;
        background-color: beige;
    }
    img{
        border: 2px solid green;
        min-width: 70%;
        max-width: 100%;
        height: auto;
    }
    figure{
        margin-left: 0%;
        float:right;
    }
    .grid{
        display: grid;
        grid-template-columns: auto;
    }
    p{
        padding-top: 20px;
    }
    

}